<%- include('../partials/header.ejs') %>

  <h1>Detail</h1>

  <% if(buy == false) { %>
    <h3>Je bezit dit aandeel al</h3>
    <p>Ga naar je <a href="/stock/dashboard">dashboard</a> voor de laatste prijzen of om je aandelen te verkopen.</p>
  <% } else { %>

  <p>Latest price: <%= latest %></p>
  <p>Openings price: <%= open %></p>

  <p>Jouw saldo: <%= user.saldo %></p>

  <form method="post">
    <input type="number" name="amount" placeholder="Maximaal <%= Math.floor(user.saldo / latest) %>" max="<%= user.saldo / latest %>" />
    <input type="submit" value="Kopen" />
  </form>

  <% } %>

<%- include('../partials/footer.ejs') %>
