<%- include('../partials/header.ejs') %>

  <main class="detail">

    <% if(buy == false) { %>
      <h1>Je bezit dit aandeel al</h1>
      <p>Ga naar je <a href="/stock/dashboard">dashboard</a> voor de laatste prijzen of om je aandelen te verkopen.</p>
    <% } else { %>
    <h1>Koop aandeel van <%= user.ticker %></h1>

    <p>Laatste prijs: €<%= latest %></p>
    <p>Openings prijs: €<%= open %></p>
    <p>Jouw saldo: €<%= Number(user.saldo).toFixed(2) %></p>

    <form method="post">
      <input type="number" class="form" name="amount" placeholder="Maximaal <%= Math.floor(user.saldo / latest) %>" max="<%= user.saldo / latest %>" />
      <input type="submit" value="Kopen" />
    </form>

    <% } %>
  </main>

<%- include('../partials/footer.ejs') %>
