<%- include('../partials/header.ejs') %>

  <h1 class="center">Stockpage</h1>
  <p class="center">De percentage's zijn ten opzichte van de openingswaarde</p>

  <div class="allStocks">
    <section class="company">
      <img src="/images/logos/facebook.png" />
      <span id="FB"><%= stock.FB[1] %>%</span>
      <a href="/stock/detail/FB"></a>
    </section>
    <section class="company">
      <img src="/images/logos/twitter.png" />
      <span id="TWTR"><%= stock.TWTR[1] %>%</span>
      <a href="/stock/detail/TWTR"></a>
    </section>
    <section class="company">
      <img src="/images/logos/google.jpeg" />
      <span id="GOOGL"><%= stock.GOOGL[1] %>%</span>
      <a href="/stock/detail/GOOGL"></a>
    </section>
    <section class="company">
      <img src="/images/logos/tripadvisor.png" />
      <span id="TRIP"><%= stock.TRIP[1] %>%</span>
      <a href="/stock/detail/TRIP"></a>
    </section>
    <section class="company">
      <img src="/images/logos/apple.png" />
      <span id="AAPL"><%= stock.AAPL[1] %>%</span>
      <a href="/stock/detail/AAPL"></a>
    </section>
    <section class="company">
      <img src="/images/logos/ibm.png" />
      <span id="IBM"><%= stock.IBM[1] %>%</span>
      <a href="/stock/detail/IBM"></a>
    </section>
    <section class="company">
      <img src="/images/logos/tesla.png" />
      <span id="TSLA"><%= stock.TSLA[1] %>%</span>
      <a href="/stock/detail/TSLA"></a>
    </section>
    <section class="company">
      <img src="/images/logos/netflix.png" />
      <span id="NFLX"><%= stock.NFLX[1] %>%</span>
      <a href="/stock/detail/NFLX"></a>
    </section>
    <section class="company">
      <img src="/images/logos/intel.png" />
      <span id="INTC"><%= stock.INTC[1] %>%</span>
      <a href="/stock/detail/INTC"></a>
    </section>
    <section class="company">
      <img src="/images/logos/adobe.png" />
      <span id="ADBE"><%= stock.ADBE[1] %>%</span>
      <a href="/stock/detail/ADBE"></a>
    </section>
    <section class="company">
      <img src="/images/logos/microsoft.png" />
      <span id="MSFT"><%= stock.MSFT[1] %>%</span>
      <a href="/stock/detail/MSFT"></a>
    </section>
    <section class="company">
      <img src="/images/logos/ebay.png" />
      <span id="EBAY"><%= stock.EBAY[1] %>%</span>
      <a href="/stock/detail/EBAY"></a>
    </section>
    <section class="company">
      <img src="/images/logos/yahoo.png" />
      <span id="YHOO"><%= stock.YHOO[1] %>%</span>
      <a href="/stock/detail/YHOO"></a>
    </section>
    <section class="company">
      <img src="/images/logos/activision.png" />
      <span id="ATVI"><%= stock.ATVI[1] %>%</span>
      <a href="/stock/detail/ATVI"></a>
    </section>
    <section class="company">
      <img src="/images/logos/amazon.png" />
      <span id="AMZN"><%= stock.AMZN[1] %>%</span>
      <a href="/stock/detail/AMZN"></a>
    </section>
  </div>

<%- include('../partials/footer.ejs') %>
