<%- include('../partials/header.ejs') %>

  <main class="detail">
    <h1>Verkopen</h1>

    <p>Totaal <%= amount %> aandelen.</p>
    <p>Huidige prijs €<%= sellFor %> per aandeel.</p>
    <p>Alle aandelen leveren in totaal €<%= Number(total).toFixed(2) %> op.</p>

    <form method="post">
      <input type="submit" value="Verkopen" />
    </form>
  </main>

<%- include('../partials/footer.ejs') %>
